<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.wotung.integration.gym.mapper.GymMapper">

	<!-- 通用查询映射结果 -->
	<resultMap id="BaseResultMap" type="com.wotung.integration.gym.entity.Gym">
		<id column="id" property="id" />
		<result column="name" property="name" />
		<result column="address" property="address" />
		<result column="contact_info" property="contactInfo" />
		<result column="score" property="score" />
		<result column="pictureUrl" property="pictureUrl" />
		<result column="instruction" property="instruction" />
		<result column="contactName" property="contactName" />
		<result column="Is_Delete" property="Is_Delete" />
	</resultMap>

</mapper>
